{% extends "knit_base.html" %}
{% load static %}


{% block top %}

<!-- Google Fonts -->
<link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic">

<!-- CSS Reset -->
<link rel="stylesheet" href="//cdn.rawgit.com/necolas/normalize.css/master/normalize.css">

<!-- Milligram CSS minified -->
<link rel="stylesheet" href="//cdn.rawgit.com/milligram/milligram/master/dist/milligram.min.css">

<!-- Icons -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<!-- app css -->
<link rel="stylesheet" href="{% static "knitting/knit.css" %}">

    <script>
        function pattern_text(N, M, increase)
        {
            var msg = N+' <i class="fa fa-times"></i> '
            if (M>1)
            {
                msg    += (M-1)+' + '
            }
            if (increase)
            {
                msg    += '1 <i class="fa fa-caret-right"></i> 2'
            }else
            {
                msg    += '2 <i class="fa fa-caret-right"></i> 1'
            }
            if (N==0){msg='';}
            return msg;
        } 
        <!-- pattern_text() --> 
        

        function jCrease()
        {
            var from = parseInt(document.getElementById('id_out_from').value, 10);
            var to   = parseInt(document.getElementById('id_out_to').value, 10);

            var N             = Math.abs(from-to)

            var small_pattern = Math.floor(from/N);
            var large_pattern = small_pattern + 1;
            
            var N_large       = from%small_pattern
            var N_small       = N-N_large

            if (from==to)
            {
                $("#jres" ).html('');
                $("#jres").css('visibility', 'hidden');
                $("#jres2").html('');
                $("#jres2").css('visibility', 'hidden');
            }
            else
            {
                $("#jres").css('visibility', 'visible');
                $("#jres" ).html( pattern_text(N_small, small_pattern, to>from) );
                var msg = pattern_text(N_large, large_pattern, to>from)
                if(msg=='')
                {
                    $("#jres2").css('visibility', 'hidden');
                    $("#jres2").html( msg );
                }
                else
                {
                    $("#jres2").css('visibility', 'visible');
                    $("#jres2").html( msg );
                }
            }
        }

        function update()
        {
            var from = parseInt(document.getElementById('id_N_from').value, 10);
            var to   = parseInt(document.getElementById('id_N_to').value, 10);
            document.getElementById('id_out_from').value   = from;
            document.getElementById('id_out_to').value   = to;

            jCrease()

            document.getElementById('id_N_to').max = from*2;
            document.getElementById('id_N_to').min = Math.floor(from/2);
        }


        $( document ).ready(function() {
            document.getElementById('id_out_from').value = document.getElementById('id_N_from').value;
            document.getElementById('id_out_to').value = document.getElementById('id_N_to').value;
            update()

        });


    </script>
{% endblock %}


{% block form %}
<div class="container">

    <div class="row">
        <div class="column column-90">
            <h1> Frigg </h1>
        </div>
    </div>

    <form action="/knitting/"
          method="post"
          oninput=" update() " >
        {% csrf_token %}

            <div class="row">
                <div class="column column-90">
                    {{form.N_from}}
                </div>
                <div class="column column-10">
                    <span class="label">
                        <output name="o_from"  id="id_out_from" for="from_range">
                        </output>
                    </span>
                </div>
            </div>
    
            <div class="row">
                <div class="column column-90">
                    {{form.N_to}}
                </div>
                <div class="column column-10">
                    <span class="label">
                        <output name="o_to" id="id_out_to" for="to_range">
                        </output> 
                    </span>
                </div>
            </div>

        <div class="row">
            <div class="column column-75 column-offset-25">
                <span id='jres' name='jres' class='label'>  </span>
            </div>
        </div>
        <div class="row" style="height: 10px">
        </div>

        <div class="row">
            <div class="column column-75 column-offset-25">
                <span id='jres2' name='jres2' class='label'>  </span>
            </div>
        </div>

    </form>

    {% for p in sol.summary  %}
        <div class="row">
            <div class="column column-75 column-offset-25">
                <h1>
                    {{ p.1 }} <i class="fa fa-times"></i> 
                    <span class="label">
                        {{ p.0|add:-1 }} <i class="fa fa-plus"></i> 
                        {% if sol.action_sign > 0%}
                            1 <i class="fa fa-caret-right"></i> 2
                        {% else %}
                            2 <i class="fa fa-caret-right"></i> 1
                        {% endif %}
                    </span>
                </h1>
            </div>
        </div>

    {% endfor  %}
</div>




{% endblock %}


