{% extends "base.html" %}
{% load static %}


{% block top %}
    <!-- app css -->
    <link rel="stylesheet" href="{% static "knitting/knit.css" %}">
    <script src="{% static "knitting/knit.js" %}"></script>
{% endblock %}


{% block content %}

<div>

<div class="tabs is-boxed is-centered">
  <ul id='main-tab'>
    <li data-value="frigg" class='is-active'><a>Frigg</a></li>
    <li data-value="patches"><a>Patches</a></li>
  </ul>
</div>


<section class='section'>
  <div class='container'>
    <div class="columns">

      <div class="column" id='frigg'  style='display:inline'>

            <div class="hero">

                <!-- TITLE -->
                <div class="columns is-mobile">
                    <div class="column has-text-centered">
                        <p class="title is-large is-centered" style='text-align:center;'> Frigg </p>
                    </div>
                    
                    <button class="button is-large" onclick='open_help()'>?</button>

                </div>


            <div class="modal" id='help'>
            <div class="modal-background"></div>
            <div class="modal-content">
                    <div class="box">
                        <div class="content">
                            
                            <p> <b>Calculate how to evenly in- or de-crease the number of masks. </b></p>

                            <p> Input the number of masks you have on the top line and the number
                                of masks you want to end with in the second line. </p>

                            <p> Numbers are adjusted with the 
                                <i class="fa fa-plus"></i>/<i class="fa fa-minus" style='vertical-align:bottom'></i> 
                                buttons. Increment by 1/10/50 with the small/medium/large buttons.</p>

                            <p> The result can contain either a single pattern to repeat or
                                two patterns that you need to mix.

                                <div class='columns is-mobile'>
                                    <div class='column is-4'> 12 </div>
                                    <div class='column is-4'> <i class='fa fa-times my-is-centered'></i> </div>
                                    <div class='column is-4'> 3 + 1<i class="fa fa-caret-right my-is-centered"></i>2</div>
                                </div>

                                The pattern above tells you to repeat the pattern 12 times. The pattern is: knit three and then increase on the fourth.
                            </p>
                        </div>
                    </div>
            </div>
            <button class="modal-close" onclick='close_help()'></button>
            </div>

                <!-- FROM -->
                <div class="columns is-mobile">
                    <div class="column">
                        <a class="button is-large is-pulled-right" id='divide-from'>
                            <span class="icon is-large">
                                <i class="fa fa-minus"></i>
                            </span>
                        </a>
                    </div>
                    <div class="column">
                        <a class="button is-large is-pulled-right" id='much-less-from'>
                            <span class="icon is-medium">
                                <i class="fa fa-minus"></i>
                            </span>
                        </a>
                    </div>
                    <div class="column">
                        <a class="button is-large is-pulled-right" id='less-from'>
                            <span class="icon is-small">
                                <i class="fa fa-minus"></i>
                            </span>
                        </a>
                    </div>

                    <div class="column is-4">
                        <span class="tag is-large is-centered" style='width:100%;'>
                            <output name="o_from"  id="id_out_from" class='is-centered'>
                                100
                            </output>
                            <i class="fa fa-omega"></i>
                        </span>
                    </div>

                    <div class="column">
                        <a class="button is-large" id='more-from'>
                            <span class="icon is-small">
                                <i class="fa fa-plus"></i>
                            </span>
                        </a>
                    </div>
                    <div class="column">
                        <a class="button is-large" id='much-more-from'>
                            <span class="icon is-medium">
                                <i class="fa fa-plus"></i>
                            </span>
                        </a>
                    </div>
                    <div class="column">
                        <a class="button is-large" id='multiply-from'>
                            <span class="icon is-large">
                                <i class="fa fa-plus"></i>
                            </span>
                        </a>
                    </div>
                </div>



                <!-- TO -->
                <div class="columns is-mobile">
                    <div class="column">
                        <a class="button is-large is-pulled-right" id='divide-to'>
                            <span class="icon is-large">
                                <i class="fa fa-minus"></i>
                            </span>
                        </a>
                    </div>
                    <div class="column">
                        <a class="button is-large is-pulled-right" id='much-less-to'>
                            <span class="icon is-medium">
                                <i class="fa fa-minus"></i>
                            </span>
                        </a>
                    </div>
                    <div class="column">
                        <a class="button is-large is-pulled-right" id='less-to'>
                            <span class="icon is-small">
                                <i class="fa fa-minus"></i>
                            </span>
                        </a>
                    </div>


                    <div class="column is-4">
                        <span class="tag is-large" style='width:100%;'>
                            <output name="o_to"  id="id_out_to">
                                120
                            </output>
                            <i class="fa fa-omega"></i>
                        </span>
                    </div>


                    <div class="column">
                        <a class="button is-large" id='more-to'>
                            <span class="icon is-small">
                                <i class="fa fa-plus"></i>
                            </span>
                        </a>
                    </div>
                    <div class="column">
                        <a class="button is-large" id='much-more-to'>
                            <span class="icon is-medium">
                                <i class="fa fa-plus"></i>
                            </span>
                        </a>
                    </div>
                    <div class="column">
                        <a class="button is-large" id='multiply-to'>
                            <span class="icon is-large">
                                <i class="fa fa-plus"></i>
                            </span>
                        </a>
                    </div>

                </div>


                <div class='columns is-mobile'>
                    <div class='column'>
                        <span class="tag is-large pattern" id='first-pattern' style='width:100%;'>
                        </span>
                    </div>
                </div>
                <div class='columns is-mobile'>
                    <div class='column'>
                        <span class="tag is-large pattern" id='second-pattern' style='width:100%;'>
                        </span>
                    </div>
                </div>



            </div>







      </div>

      <div class="column" id='patches' style='display:none'>
           <div id="js_board" class='jsboard'> </div>
      </div>

    </div> 
  </div>

</section>

</div>











{% endblock %}


