[Unit]
Description=jkr gunicorn daemon
After=network.target

[Service]
User=jkr
Group=www-data
WorkingDirectory=/home/jkr/julietKiloRomeo
ExecStart=/home/jkr/django_env/bin/gunicorn --workers 3 --bind 127.0.0.1:8000  main.wsgi:application --log-file /home/jkr/julietKiloRomeo/logs/gunicorn.log --log-level info

[Install]
WantedBy=multi-user.target
