server {
    listen 80;
    listen [::]:80;
    
    server_name 37.139.20.76 julietkiloromeo.com;

    access_log  /home/jkr/julietKiloRomeo/logs/nginx_access.log;
    error_log  /home/jkr/julietKiloRomeo/logs/nginx_error.log info;

    location = /favicon.ico { access_log off; log_not_found off; }

    location /static/ {
        root /home/jkr/julietKiloRomeo;
    }

    location / {
        include proxy_params;
        proxy_pass http://127.0.0.1:8000;
    }

}

