{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

<title>Crease</title>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<link rel="stylesheet" href="{% static "main/main.css" %}">

{% block top %}
{% endblock %}



</head>
<body>
<nav class="nav">
	<a href="/" class="nav-item">Home</a>
	<a href="/knitting" class="nav-item">Knitting</a>
	<a href="/data" class="nav-item">Data</a>
</nav>

    <div class="container">
        {% block content %}
        {% endblock %}
    </div>
</body>

{% block bottom %}
{% endblock %}

</html>                                		                                		