:root {
  --licorice: #1f1300;
  --brass: #af9b46;
  --pale-yellow: #f7ce5b;
  --tuscan: #dfd6a7;
  --rajah: #f7b05b;
  --b-rad: 1rem;
}

.tag{
  background:transparent;
}

.button {
  border: none;
  background-color: transparent;
}

.my-is-centered {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

output {
  font-size: 2rem;
}

.pattern .column {
  font-size: 2rem;
}

